[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
	branch = honister
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://git.yoctoproject.org/meta-raspberrypi
	branch = honister
[submodule "meta-virtualization"]
	path = meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
	branch = honister
[submodule "meta-networking"]
	path = meta-networking
	url = https://git.yoctoproject.org/meta-networking
	branch = honister
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = honister
[submodule "meta-rauc"]
	path = meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = honister
[submodule "meta-sdv"]
	path = meta-sdv
	url = https://github.com/SoftwareDefinedVehicle/meta-sdv
	branch = main
[submodule "oe-meta-go"]
	path = oe-meta-go
	url = https://github.com/mem/oe-meta-go
[submodule "meta-security"]
	path = meta-security
	url = https://git.yoctoproject.org/meta-security
	branch = honister
[submodule "meta-rauc-community"]
	path = meta-rauc-community
	url = https://github.com/rauc/meta-rauc-community
[submodule "leda-utils"]
	path = leda-utils
	url = https://github.com/eclipse-leda/leda-utils
	branch = main
