[Unit]
Description=Grow SD-Card disk space
DefaultDependencies=no
Before=data.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/growdisk.sh

[Install]
WantedBy=data.mount
